.container{
  width: 70%;
  height: 650px;
  background-color: yellow;
  margin: auto;
  border-radius: 15% 15%;;
}
.rowMouth{
}
.rowNoze{
  width: 80%;
}
.rowEye{
  width: 70%;
}
.mouth{
  margin-top: 3%;
  margin-bottom: 3%;
  width: 50vw;
  background-color: white;
  height: 17vh;
  border: 4px solid black;
  border-radius: 2vh 2vh;
}
.teeth{
  border: 2px solid black;
  width: 12%;
  height: 8vh;
}
.noze{
  border-radius: 5vw 5vw;
  width: 15vw;
  background-color: red;
  height: 20vh;
}
.eyes{
  width: 15%;
  background-color: black;
  height: 20vh;
  border-radius: 50%;
}
.eyebrowsLeft{
  transform: rotate(45deg);
  width: 5%;
  background-color: black;
  height: 20vh;
  border-radius: 30%;
}
.eyebrowsRight{
  transform: rotate(125deg);
  width: 5%;
  background-color: black;
  height: 20vh;
  border-radius: 30%;
}
